<?xml version="1.0"?>
<model>
  <name>wheeled_robot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Leo Campos</name>
   <email>leobardo.e.campos.macias@intel.com</email>
  </author>

  <description>
    A two wheeled robot for itesm seminar.
  </description>
</model>
